
.user_search
{
  
  width:300px;
  margin:0 auto;

}

 
@font-face 
{

  font-family: rsFont;
  src: url("./font/RuneScape-Bold-12.otf") format("opentype");
}

body
{
  font-family: rsFont;
  font-weight: bold;

}
h1
{
  font-family: rsFont;
  font-weight: bold;
  width:300px;
  margin:0 auto;
}
body 
{
  background-image: url('./images/paperBack.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

