
.user_search
{
  width:250px;
  margin: 0;
}
input
{
  font-family: rsFont;
}
button
{
  font-family: rsFont;
}
.news_content img
{
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.main-col
{
  width: 20%;
  background-color: rgba(255, 255, 245, 0.9);
  padding: 30px;
  border: 2px solid #8b4513;
  border-radius: 15px;
  height: fit-content;
}
@font-face 
{
  font-family: rsFont;
  src: url("./font/RuneScape-Bold-12.otf") format("opentype");
}
body
{
  font-family: rsFont;
  font-weight: bold;
}
h1
{
  display: flex;
  width: auto;
  margin:auto;
  padding: 10px;
  border: 2px solid #8b4513;
  border-radius: 8px;
  background-color: rgba(255, 255, 245, 0.9);
  
}
.page-wrapper 
{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.news 
{
  width: 20%;
  background-color: rgba(255, 255, 245, 0.9);
  padding: 20px;
  border: 2px solid #8b4513;
  border-radius: 8px;
  height: fit-content;
  margin-left: 15px;
  margin-right: auto;
  margin-top: 7%;
}

.news_content
{
  margin-top: 0;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 15px;
  overflow-y: auto;
  max-height: 500px;
  
}
.news_content h2
{
  background-color: rgba(150, 150, 15, 0.9);
  border: 2px solid #8b4513;
  border-radius: 8px;
  flex-shrink: 0;
}
.main-col 
{
  flex: 1;
}
.chat{
  width: 20%;
  background-color: rgba(255, 255, 245, 0.9);
  padding: 20px;
  border: 2px solid #8b4513;
  border-radius: 8px;
  height: fit-content;
  margin-left: 1px;
  margin-right: 15px;
  margin-top: 7%;
}