
.user_search
{
  
  width:300px;
  margin:0 auto;

}

 
@font-face 
{

  font-family: rsFont;
  src: url("./font/RuneScape-Bold-12.otf") format("opentype");
}

body
{
  font-family: rsFont;
  font-weight: bold;

}
h1
{
  font-family: rsFont;
  font-weight: bold;
}
body
{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
