@font-face 
{
  font-family: 'RuneScapeFont';
  src: url('./font/rs_font.ttf');
  font-weight: normal;
  font-style: normal;
}
.user_search
{
  
  width:300px;
  margin:0 auto;

}
body
{
  font-family: 'RuneScapeFont';
}